* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*--------------------------------------------------*/

header {
  height: 100px;
  width: 100%;
}

.header-wrapper {
  padding: 10px 50px 0 50px;
  height: 70%;
  max-width: 900px;
  margin:  0 auto;
}

.header-left {
  float: left
}

.logo {
  font-weight: normal;
  display: inline;
  color: rgb( 15, 15, 15);
}

.header-right {
  float: right;
}

.btn-header {
  padding: 4px 20px;
  background-color: rgb( 176, 175, 175);
  transition: all 0.5s;
}

.header-right :hover {
  background-color: rgb( 190, 190, 190, 0.3);
}

.header-right a {
  font-size: 10px;
  color: white;
}

.header-menu {
  text-align: center;
}

.menu {
  padding: 5px 20px;
  color: rgb( 30, 30, 30);
  font-size: 12px;
}

.menu:hover {
  color: rgba( 277, 180, 100, 0.7);
}

/*-------*/

.main-visual {
  background-image: url("images/main.png");
  height: 400px;
  color: white;
  text-align: center;
  position: relative;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.main-visual h1 {
  display: inline;
}

/*-------*/

.item-contents {
  height: 300px;
  text-align: center;
  color: rgb( 30, 30, 30);
}

.item {
  margin: 60px 0;
  float: left;
  width: 50%;
}

.item h2 {
  margin: 0;
  padding-top: 15px;
  font-weight: normal;
}

.item p {
  margin: 0;
  font-size: 13px;
}

.item-right {
  border-right: 1px solid rgb( 190, 190, 190);
}

/*-------*/

.center {
  overflow: hidden;
}

.center-title {
  margin: 0;
}

.container {
 max-width: 500px;
 margin: 0 auto;
 text-align: center;
 color: rgb( 20, 20, 20);
 overflow: hidden;
}

.center-visual {
  padding: 50px 0;
  height: 500px;
  background-image: url("images/center.png");
}

.center-box {
  margin-top: 50px;
}

.box {
  background-color: white;
  float: left;
  width: 47%;
  padding: 50px 0;
}

.box-right {
  float: right;
}

.box h3 {
  margin-top: 0;
}

.box p {
  text-align: left;
  margin: 0 auto;
  font-size: 12px;
  width: 70%;
}

.box-btn {
  display: inline-block;
  border: 2px solid rgb( 230, 230, 230);
  margin: 30px 55px 0 55px;
}

.box a {
  padding: 0 10px;
  display: block;
  line-height: 30px;
  font-size: 12px;
  color: rgb( 150, 150, 150);
}

.box-btn:hover {
  color: rgba( 277, 180, 100, 0.7);
  border: 2px solid rgba( 277, 180, 100, 0.7);
}

.fas {
  position: relative;
  left: 20px;
  opacity: 0.5;
}

/*-------*/

.news-contents {
  padding: 40px 0;
}

.news {
  text-align: left;
  overflow: hidden;
  margin-bottom: 40px;
}

.news-days {
  margin: 0 auto;
  color: rgb( 150, 150, 150);
  font-size: 14px;
}

.news p {
  margin: 0 auto;
  font-size: 15px;
}

/*-------*/

.gallery img {
  float: left;
  width: 25%;
  border: 2px solid rgb( 255, 255, 255)
}

.gallery {
  overflow: hidden;
  margin-bottom: 40px;
}

/*-------*/

.messege-contents {
  padding-bottom: 50px;
}

.messege-box {
  background-color: rgb( 241, 241, 241);
  max-width: 600px;
  width: 75%;
  margin: 0 auto;
  padding: 30px 70px 50px 70px;
}

.messege {
  overflow: hidden;
  font-size: 12px;
}

.messege p {
  float: left;
}

.text {
  border: none;
  padding: 4px 30px;
  float: right;
  position: relative;
  top: 15px;
}

.messege-btn {
  margin-top: 50px;
  display: inline-block;
  background-color: rgb( 100, 100, 100);
}

.messege-btn:hover {
  opacity: 0.7;
}

.messege-btn a {
  line-height: 35px;
  display: block;
  padding: 0 25px;
  color: white;
  font-size: 12px;
}

.gender {
  display: inline-block;
  position: relative;
  right: 60px;
}

.male {
  margin-right: 20px;
}

/*-------*/

footer {
  background-color: rgb( 100, 100, 100);
}

footer p {
  padding: 20px 0;
  color: rgba( 255, 255, 255, 0.7);
  font-size: 10px;
}
