@media (max-width: 800px) {
  .center-title {
    color: white;
  }

  .messege p {
    font-size: 10px;
  }

  .text {
    top: 8px;
    padding: 4px 25px;
  }

  .gender {
    font-size: 10px;

  }

}
